@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background-color: #8A2BE2;
}

.stripe {
    background-color: #EDEDED;
    display: block;
    width: 100vw;
    height: 1vh;
}

.main-view {
    padding: 0;
    height: 99vh;
}

.planning-board {
    height: 70%;
    background-color: #8A2BE2;
}

.vote-options {
    display: flex;
    height: 30%;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
}

.vote-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    font-size: 30px;
    background-color: #8A2BE2;
    color: #EDEDED;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.vote-option:hover{
    background-color: #581399;
}
