*{
    margin: 0;
}

.stripe {
    background-color: #8A2BE2;
    display: block;
    width: 100vw;
    height: 1vh;
}

.main-view {
    /* background-color: #FF0000; */
    padding: 10px;
    height: 90vh;
}

.online-status {
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.offline-status {
    font-size: 30px;
    font-weight: 600;
    color: red;
}
